:root {
  --bg: #f7f7f8;
  --fg: #1c422b;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  place-items: center;
  background-color: var(--bg);
  color: var(--fg);
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
}

label {
  display: block;
}

meter,
input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
}

ul {
  padding: 0;
  list-style: none;
}

.buttonGroup {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1em;
}

.buttonGroup button {
  -webkit-appearance: none;
  padding: 0.5em 0.75em;
  background-color: var(--fg);
  color: var(--bg);
  border: none;
  border-radius: 0.25em;
  display: block;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
}
